###########################
# BUILD                   #
###########################
bin
lib
intermediate

###########################
# BUILD                   #
###########################
*.user
*.suo
*.sdf
*.opensdf