###########################
# BUILD                   #
###########################
bin
lib
intermediate
Debug

###########################
# BUILD                   #
###########################
*.user
*.suo
*.sdf
*.opensdf